[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.4"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
dev = "python manage.py runserver"
