{% extends "partials/base.html" %}

{% block body %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <h2 class="p-2 fw-bold">All products</h2>
            <hr>
            {% for item in products %}
            <div class="col-4">
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.model.brand }} - {{ item.model.title }}</h5>
                        <img src="https://placehold.co/600x400/EEE/31343C?text=NOT\nUPLOADED" width="100%" alt="Product Image">
                        <li class="list-group-item mt-2">{{ item.model.weight }} gr.</li>
                        <br>
                        <p class="text-end">₺{{ item.model.price }} / hr.</p>
                        {% if item.is_active == True %}
                        <a href="{% url 'checkout' item.id %}" class="btn btn-success float-end mt-2"><i class="fas fa-shopping-cart mr-2"></i>
                            Book Now</a>
                        {% else %}
                        <a href="#" class="btn btn-success float-end mt-2 disabled"><i class="fas fa-exclamation-triangle mr-2"></i>
                            Out of Stock</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock body %}